.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 20px;
}

.list {
  list-style-type: none;
}

.item {
  padding-block: 4px;
  color: var(--color-black);
  width: 100%;
  font-size: 13px;
  line-height: 18px;
}

.total {
  margin-top: 10px;
  color: var(--color-black);
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
